node_modules/*
bower_components/*
/web
/themes
 
!hybrid/platforms
hybrid/platforms/*
hybrid/node_modules/*
!hybrid/platforms/platforms.json
 
 
!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

hybrid/www/*

.DS_Store
Thumbs.db
